<!--User infoの部分-->
<h2>User info</h2>

<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>

  <label for="inputName">Name</label> <!--Nameの部分-->
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>

  <label for="inputImage">Image</label> <!--Imageの部分-->
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>

  <h6>Introduction</h6> <!--Introductionの部分-->
  <%= f.text_area :introduction %>

  <%= f.submit 'Update User' %> <!--Update Userのボタン部分-->

<% end %>

