<!--Editing Bookの部分-->
<h2>Editing Book</h2>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  <h6>title</h6> <!--titleの部分-->
  <%= f.text_field :title %>

  <h6>opinion</h6> <!--opinionの部分-->
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %> <!--Update Bookのボタン部分-->

  <% if @book.user_id == current_user.id %>
      <%= link_to "Show", book_path(@book.id) %> <!--Showのボタン部分-->
      <%= link_to "Back", books_path %> <!--Backのボタン部分-->

  <% end %>
<% end %>