<!--User infoの部分-->
<%= render 'list' %>

 <!--Book datailの部分-->
  <h2>Book datail</h2>
  <%#<% @books.each do |book| %>
  <div>
    <p><%= image_tag current_user.get_profile_image(100, 100) %></p>
    <p><%= link_to user_path(@book_find.id) do %>
       <%= @book_find.user.name %>
       <% end %>
    </p>
    <p>title : <%= link_to book_path(@book_find.id) do %>
       <%= @book_find.title %>
       <% end %>
    </p>
    <p>opinion：<%= @book_find.body %></p>
    <% if @book_find.user_id == current_user.id %>
      <%= link_to "Edit", edit_book_path(@book_find.id) %>
      <%= link_to "Destroy", book_path(@book_find.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>
  <%#<% end %>

<!--New Bookの部分-->
<h2>New Book</h2>
  <%= form_with model: @book do |f| %>
    <h4>title</h4>
      <%= f.text_field :title %>
    <h4>opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Creat Book' %>
  <% end %>
